# Data Scince Tools and Ecosystem

in this notebook,we will explore some of the most important languages for Data Scince.
* R
* Python
* SQL
* Java

some of the popular tools used in Data Scince are:
* Jupyter Notebook
* RStudio
* Visual Studio Code
* Apache Spark
* Tableau

Below are a few examples of evaluating arithmetic expression in python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This code cell will convert 200 minutes to hours by
# dividing by 60
minutes=200
hours=minutes/60
hours

3.3333333333333335

This notebooks opjectives are:
* list popular languages for Data Scince.
* list popular libraries for Data Scince.
* convert minutes to hours.
* perform simple arithmetic operations.

In [6]:
# this code will convert 200 minutes to hours.
200/60

3.3333333333333335

This notebooks opjectives are:
* List popular languages for Data Scince.
* list popular tools for Data Scince.
* perform simple arithmetic operations.
* convert units of time(minutes to hours).

## Author
Adel Bukhari